
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ShortcutWithCategory
Name[C]=ShortcutWithCategory
Icon=konsole
Exec=/home/linaro/Desktop/StephaneAG_dev/play_mario_theme_intro_dev_null.sh
Comment[C]=play the mario 8bit intro theme
StartupNotify=true
Categories=Utility;
